@charset "UTF-8";

#block{
	height: 80px;
	background-color: black;
	text-align: right;
	
}
.blackbg{
	background-color: #333;
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
}

h1{
	padding-top: 45px;
	padding-right: 5px;
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-weight: normal; 
}

h2{
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-weight: 600; 
}

h3{
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-weight: normal; 
}

body{
	font-family: "Courier New", Courier, monospace;
	font-weight: normal; 
}

ul {
  
  font-family: "Courier New", Courier, monospace;
}

li {
  
  font-family: "Courier New", Courier, monospace;
}

li a {
	float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}


li a:hover {
	float: left;
  background-color: #111;
}

.underline{
	text-decoration: underline;
}

.italics{
	font-style: italic;
}
.bold{
	font-weight: bold;
}

footer{
	text-align: center;
	border-top: 1px solid black;
}

.form{
	margin: 60px 200px 60px 500px;
}

.comment{
	height: 6em;
}

.imageFull{
	position: absolute;
	width: 90%;
    z-index: -1;
}
